body, html{width: 100%; height: 100%; font-family: Arial; color:#fff;}
body{font-size:12px; border: #eee; overflow-y:hidden; }
*{margin:0px; padding: 0px; line-height: auto; list-style: none;}
/*-----correccion ie 8 and lower */
.col-md-8, .col-md-4{float: left\9;}
.col-md-8{width: 66.3%\9;}
.col-md-4{width: 33.3%\9;}
/*----------------------------------*/
.onepage-pagination{position: absolute; z-index: 1200; right: 8px; 
	top: 50%; margin-top: -60px;}
.onepage-pagination li{width: 8px; height: 8px;  clear: left; float:left;
	background: #fff999; margin-top: 8px;}
	.onepage-pagination li a{float: left;; width: 100%; height: 100%;}
.onepage-pagination li.active{background: red;}
.cont-el-nove{position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; background: #f9e5fa;}
.cont-el{clear: left; float: left; width: 100%; height: 100%;}
.el{float:left; clear: left; top: 0px ;left: 0px; width: 100%; height: 100%; overflow: hidden;}
.el.active{display: inline;}
.el-0{background: #333;}
.el-1{background: #fc9000;}
.el-2{background: #a7dec3;}
.el-3{background: #ded6a7;}
.el .int{width: 1000px; height: 760px; border: 1px solid #601665; margin: 0px auto;}
.anim-hide{opacity: 0; filter: alpha(opacity=0);}
/*--------------------------------------------*/
@media only all and (max-width: 728px) {
	body{overflow-y: scroll;}
	.onepage-pagination{position: fixed;}

	.cont-el, .el{min-height: 100%; height: auto;}
	.el .int{width: 100%; }
}
@media only all and (max-width: 480px) {
}

