<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<title>SUPERSCROLLORAMA</title>	
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css">	
	<link rel="stylesheet" href="css/style.css" type="text/css">	
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/mousewheel.js"></script>	
	<script src="js/plugins/CSSPlugin.js"></script>
	<script src="js/easing/EasePack.js"></script>
	<script src="js/TweenLite.js"></script>
	<script src="js/skrollr.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<meta name="viewport" content="initial-scale=1, maximum-scale=1">

</head>
<body>
	<ul class="onepage-pagination">
		<li class="active"><a class="nav" href="#uno" data-index="1"></a></li>	
		<li><a href="#dos" data-index="2" class="nav"></a></li>
		<li><a href="#tres" data-index="3" class="nav"></a></li>
		<li><a href="#cuatro" data-index="4" class="nav"></a></li>
	</ul>
	
	<div class="cont-el" id="logo">
		<div class="el el-0 active" id="uno">
			<div class="row int">
				<div class="col-md-8">
					<p>
					This document describes the Internet Explorer (IE) idiosyncrasies when dealing with custom HTML attributes and tags. Read this document if you are planning on deploying your Angular application on IE.
</p><p>
The project currently supports and will attempt to fix bugs for IE9 and above. The continuous integration server runs all the tests against IE9, IE10, and IE11. See Travis CI and ci.angularjs.org.
</p><p>
We do not run tests on IE8 and below. A subset of the AngularJS functionality may work on these browsers, but it is up to you to test and decide whether it works for your particular app.
</p><p>
To ensure your Angular application works on IE please consider:
</p><p>
Use ng-style tags instead of style="{{ someCss }}". The latter works in Chrome and Firefox but does not work in Internet Explorer <= 11 (the most recent version at time of writing).
</p>
				</div>
  				<div class="col-md-4">
  				<p>Creating Custom Directives
Note: this guide is targeted towards developers who are already familiar with AngularJS basics. If you're just getting started, we recommend the tutorial first. If you're looking for the directives API, we recently moved it to $compile.
This document explains when you'd want to create your own directives in your AngularJS app, and how to implement them.
</p>
<p>
What are Directives?
At a high level, directives are markers on a DOM element (such as an attribute, element name, comment or CSS class) that tell AngularJS's HTML compiler ($compile) to attach a specified behavior to that DOM element or even transform the DOM element and its children.
</p>
<p>
Angular comes with a set of these directives built-in, like ngBind, ngModel, and ngClass. Much like you create controllers and services, you can create your own directives for Angular to use. When Angular bootstraps your application, the HTML compiler traverses the DOM matching directives against the DOM elements.
</p>
<p>
What does it mean to "compile" an HTML template? For AngularJS, "compilation" means attaching event listeners to the HTML to make it interactive. The reason we use the term "compile" is that the recursive process of attaching directives mirrors the process of compiling source code in compiled programming languages.
Matching Directives
Before we can write a directive, we need to know how Angular's HTML compiler determines when to use a given directive.
</p>

  				</div>
			</div>	
		</div>
		<div class="el el-1" id="dos">	
			<div class="int">
				<h1>Elemento 2</h1>
			</div>
		</div>
		<div class="el el-2" id="tres">	
			<div class="int"> 
				<h1>Elemento 3</h1>
			</div>
		</div>
		<div class="el el-3" id="cuatro">	
			<div class="int">
				<h1>Elemento 4</h1>
			</div>
		</div>
	</div>
	
</body></html>
